<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseHost" value="epons.dedicated.co.za" />
    <add key="DatabaseUser" value="EPONS" />
    <add key="DatabaseName" value="SADFM_Live" />
    <add key="DatabasePassword" value="sqjnj1MGUxBSyXbl34RUaJIwIfLsUAkfeX0EzOQmGwSa9YHPuKXDBzKr/ie4Jkoy7XxNZcDfX8EOmJjHW9ftmIw7m/7MBV6Unt9n4b3DAjo/yxjAiDA5WV3Rj9Mw/jtMlcGs4uxRT8bytLrcE84dtR8t9ryjMcEpaBYxZGaQrOI=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>